/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
}

.invisible {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1229px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 779px) {
  .container {
    max-width: 630px;
  }
}
@media (max-width: 659px) {
  .container {
    max-width: 320px;
  }
}
@media (max-width: 349px) {
  .container {
    max-width: 290px;
  }
}

.header {
  background-color: #F2F2F2;
  padding: 147px 0 60px 0;
}
@media (max-width: 659px) {
  .header {
    padding: 40px 0;
  }
}

.header__logo {
  display: block;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 659px) {
  .header__logo img {
    width: 120px;
    height: 139px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 55px;
}
@media (max-width: 659px) {
  .header__nav {
    margin-top: 30px;
  }
}

.header__nav-item {
  margin: 0 15px;
}
.header__nav-item a {
  text-decoration: none;
  font-size: 20px;
  line-height: 31px;
  color: #184478;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 659px) {
  .header__nav-item a {
    font-size: 16px;
    line-height: 24px;
  }
}
.header__nav-item a:hover {
  color: #FB2B3A;
}
@media (max-width: 659px) {
  .header__nav-item {
    margin: 0 10px;
  }
}

.gallery {
  padding-top: 70px;
  text-align: center;
}
@media (max-width: 659px) {
  .gallery {
    padding-top: 40px;
  }
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 1229px) {
  .gallery__row {
    margin-bottom: 14px;
  }
}
@media (max-width: 659px) {
  .gallery__row {
    margin-bottom: 10px;
  }
}

.gallery__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: auto;
  max-width: 380px;
  height: 380px;
  border-radius: 6px;
  cursor: pointer;
}
@media (max-width: 1229px) {
  .gallery__item {
    max-width: 240px;
    height: 240px;
  }
}
@media (max-width: 779px) {
  .gallery__item {
    max-width: 200px;
    height: 200px;
  }
}
@media (max-width: 659px) {
  .gallery__item {
    max-width: 100px;
    height: 100px;
  }
}
@media (max-width: 349px) {
  .gallery__item {
    max-width: 90px;
    height: 90px;
  }
}
.gallery__item iframe {
  width: 100%;
  height: 100%;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.gallery__more {
  margin-top: 40px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 230px;
  height: 60px;
  background-color: #FB2B3A;
  border-radius: 6px;
  color: #FFFFFF;
  font-family: "Coming Soon";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  letter-spacing: 0.14em;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.gallery__more:hover {
  opacity: 0.9;
}
@media (max-width: 659px) {
  .gallery__more {
    font-size: 16px;
    line-height: 24px;
    width: 170px;
    height: 45px;
    margin-top: 25px;
  }
}

.about, .contact {
  padding-top: 70px;
}
.about .container, .contact .container {
  background-color: #F2F2F2;
  padding: 105px 0;
}
@media (max-width: 659px) {
  .about, .contact {
    padding-top: 40px;
  }
}

.about__wrapper, .contact__wrapper {
  max-width: 668px;
  margin: 0 auto;
  text-align: center;
}

.about__title, .contact__title {
  font-size: 28px;
  line-height: 43px;
  color: #000000;
}

.about__text, .contact__text {
  margin-top: 45px;
  font-size: 20px;
  line-height: 42px;
}
.about__text a, .contact__text a {
  color: #FB2B3A;
  text-decoration: none;
}
.about__text a:hover, .contact__text a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #F2F2F2;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 132px;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 659px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 659px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 60px;
  }
}

.footer__left {
  margin-left: 96px;
}
@media (max-width: 779px) {
  .footer__left {
    margin-left: 0;
  }
}

.footer__text {
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: #184478;
}
@media (max-width: 659px) {
  .footer__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.footer__right {
  margin-right: 96px;
}
.footer__right a {
  text-decoration: none;
  color: #184478;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.footer__right a:hover {
  color: #FB2B3A;
}
@media (max-width: 779px) {
  .footer__right {
    margin-right: 0;
  }
}
@media (max-width: 659px) {
  .footer__right {
    margin-top: 10px;
  }
}